{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<section class="profile">
    <div class="profile__inner">
        <div class="container">
            <div class="profile__content">
                {% include 'account/menu_profile.html' %}
                <div class="profile__profile">
                    <form class="address__add-form" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors|striptags }}
                        {% render_field form.last_name class="form__input" placeholder=form.last_name.label %}
                        {{ form.first_name.errors|striptags }}
                        {% render_field form.first_name class="form__input" placeholder=form.first_name.label %}
                        {{ form.first_name.errors|striptags }}
                        {% render_field form.patronymic class="form__input" placeholder=form.patronymic.label %}
                        {{ form.patronymic.errors|striptags }}
                        {% render_field form.country class="form__input" placeholder=form.country.label %}
                        {{ form.country.errors|striptags }}
                        {% render_field form.region class="form__input" placeholder=form.region.label %}
                        {{ form.region.errors|striptags }}
                        {% render_field form.city class="form__input" placeholder=form.city.label %}
                        {{ form.city.errors|striptags }}
                        {% render_field form.address class="form__input" placeholder=form.address.label %}
                        {{ form.address.errors|striptags }}
                        {% render_field form.phone_number class="form__input" placeholder=form.phone_number.label %}
                        {{ form.phone_number.errors|striptags }}
                        {% render_field form.email class="form__input" placeholder=form.email.label %}
                        {{ form.email.errors|striptags }}
                        <input class="form__input-submit" type="submit" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts_js %}
<script src="{% static 'js/menu_profile_active.js' %}"></script>
{% endblock %}