<nav class="profile__navigation">
    <ul class="profile__navigation-list">
        <li class="profile__navigation-item">
            <a class="profile__navigation-link" href="{% url 'account:profile' %}">Профиль</a>
        </li>
        <li class="profile__navigation-item">
            <a class="profile__navigation-link" href="{% url 'account:orders' %}">История заказов</a>
        </li>
         <li class="profile__navigation-item">
            <a class="profile__navigation-link" href="{% url 'account:address' %}">Адресная книга</a>
        </li>
        <li class="profile__navigation-item">
            <a class="profile__navigation-link" href="#">Список желаемого</a>
        </li>
    </ul>
</nav>