{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block title %}
Оформление заказа - Разборка в молодечно
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/panel-input.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<link rel="stylesheet" href="{% static 'css/media/order-media.css' %}">
{% endblock %}

{% block content %}

<section class="order">
    <div class="order__content">
        <div class="container">
            <div class="order__container">
                <div class="order__composition">
                    <h2 class="order__title">
                        Состав заказа
                    </h2>

                    {% for item in cart %}
                    <div class="order__composition-item">
                        <div class="order__composition-delete-image">
                            <a href="{% url 'store:delete_from_cart' item.item.get_model_name item.id %}"
                               class="order__composition-delete-link">
                                <img class="order__composition-delete-btn" src="{% static 'img/delete-btn(1).svg' %}"
                                     alt="">
                            </a>
                        </div>
                        <div class="order__composition-item-info">
                            <div class="order__composition-item-image">
                                <a href="{{ item.item.get_absolute_url }}" class="order__composition-item-link">
                                    <img class="order__composition-item-img"
                                         src="{{ item.item.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="order__composition-info">
                                <a class="order__composition-item-title" href="{{ item.item.get_absolute_url }}">
                                    {{ item.item.get_title }}
                                </a>
                                <p class="order__composition-item-article">
                                    {% if item.item.article %}Артикул: {{ item.item.article }}
                                    {% else %}VIN: {{ item.item.vin }}
                                    {% endif %}
                                </p>
                                <p class="order__composition-price">
                                    <span class="text__bold text__red">Цена:</span> {{ item.item.price }} BYN
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="order__registration">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="order__registration-content">
                            <h2 class="order__title">
                                Оформление заказа
                            </h2>
                            <div class="order__registration-item">
                                <p class="order__registration-item-title">
                                    Способ получения:
                                </p>
                                <div class="order__registration-form">

                                    {% for radio in form.shipping_method %}
                                    <label class="order__registration-form-label">
                                        {{ radio.tag }}
                                        <span class="order__registration-form-point"></span>
                                        <span class="order__registration-form-text">{{ radio.choice_label }}</span>
                                    </label>
                                    {% endfor %}
                                    {{ form.shipping_method.errors }}
                                </div>
                            </div>
                            <div class="order__registration-item">
                                <p class="order__registration-item-title">
                                    Адрес доставки <a class="order__registration-item-title-link" href="{% url 'address_add' %}">(<span
                                        class="text__blue">добавить адрес доставки</span>)</a>:
                                </p>
                                <p class="order__registration-item-help-text">
                                    Бесплатная доставка при заказе от 200 бел. рублей в Минск и города РБ (Витебск,
                                    Могилев, Гомель, Гродно, Брест, Барановичи, Пинск, Мозырь, Полоцк, Слуцк,
                                    Бобруйск и др.)
                                </p>
                                <div class="order__registration-form">
                                    {% for address in addresses %}
                                       <label class="order__registration-form-label">
                                            <input class="order__registration-form-radio" type="radio" value="{{ address.pk }}"
                                                name="address">
                                            <span class="order__registration-form-point"></span>
                                            <span class="order__registration-form-text">{{ address }}</span>
                                        </label>
                                    {% endfor %}

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.last_name class="panel-input__form-input input__form" placeholder=form.last_name.label %}
                                {{ form.last_name.errors }}
                            </div>

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.first_name class="panel-input__form-input input__form" placeholder=form.first_name.label %}
                                {{ form.first_name.errors }}
                            </div>

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.patronymic class="panel-input__form-input input__form" placeholder=form.patronymic.label %}
                                {{ form.patronymic.errors }}
                            </div>

                            <div class="panel-select__content panel-input__form-container_order">
                                {% render_field form.country class="country-select" placeholder=form.country.label %}
                                {{ form.country.errors }}
                            </div>

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.region class="panel-input__form-input input__form" placeholder=form.region.label %}
                                {{ form.region.errors }}
                            </div>

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.city class="panel-input__form-input input__form" placeholder=form.city.label %}
                                {{ form.city.errors }}
                            </div>

                            <div class="panel-input__form-container panel-input__form-container_order">
                                {% render_field form.address class="panel-input__form-input input__form" placeholder=form.address.label %}
                                {{ form.address.errors }}
                            </div>

                            <div class="panel-input__form-container">
                         <div class="panel-input__form-container_phone">
                             <div class="panel-input__form-country-phone">
                                 <select class="country-phone-select" placeholder="Код">

                                     <option value="Bel">Беларусь +375</option>
                                     <option value="ru">Россия +7</option>
                                 </select>
                            </div>
                         <div class="panel-input__form-phone">
                             {% render_field form.phone_number id="phoneMask" class="panel-input__form-input input__form" placeholder=form.phone_number.label %}
                            </div>
                         </div>
                          {{ form.phone_number.errors }}
                      </div>

                                </div>
                            </div>
                            <div class="order__registration-item">
                                <p class="order__registration-item-title">
                                    Способ оплаты:
                                </p>
                                <div class="order__registration-form">
                                    {% for radio in form.payment_type %}
                                    <label class="order__registration-form-label">
                                        {{ radio.tag }}
                                        <span class="order__registration-form-point"></span>
                                        <span class="order__registration-form-text">{{ radio.choice_label }}</span>
                                    </label>
                                    {% endfor %}
                                    {{ form.payment_type.errors }}
                                </div>
                            </div>
                            <p class="order__registration-price">
                                <span class="text__bold">Сумма вашего заказа:</span> {{ cart.get_final_price }} BYN
                            </p>
                            <input class="order__registration-form-button button" type="submit"
                                   value="ОФОРМИТЬ ЗАКАЗ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/libraries/select2.min.js' %}"></script>
    <script src="{% static 'js/i18n/ru.js' %}"></script>
    <script src="{% static 'js/libraries/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/maskedinput.js' %}"></script>
    <script src="{% static 'js/order-registration-script.js' %}"></script>
{% endblock %}

