{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="checkout">
    <div class="checkout__inner">
        <div class="container">
            <div class="checkout__contetn">
                <div class="order__detail">
                    <h1 class="checkout__title">ПОДРОБНОСТИ ЗАКАЗА</h1>
                    <ul class="order__detail-list">
                        <li><span class="text-bold">Фамилия: </span>{{ order.address_user.last_name }}</li>
                        <li><span class="text-bold">Имя: </span>{{ order.address_user.first_name }}</li>
                        <li><span class="text-bold">Отчество: </span>{{ order.address_user.patronymic }}</li>
                        <li><span class="text-bold">Страна: </span>{{ order.address_user.get_country_display }}</li>
                        <li><span class="text-bold">Регион: </span>{{ order.address_user.region }}</li>
                        <li><span class="text-bold">Город: </span>{{ order.address_user.city }}</li>
                        <li><span class="text-bold">Адрес: </span>{{ order.address_user.address }}</li>
                        <li><span class="text-bold">Номер телефона: </span>{{ order.address_user.phone_number }}</li>
                        <li><span class="text-bold">Способ получения: </span>{{ order.get_shipping_method_display }}</li>
                        <li><span class="text-bold">Способ оплаты: </span>{{ order.get_payment_type_display }}</li>
                        <li><span class="text-bold">Статус: </span>{{ order.get_status_display }}</li>
                        <li><span class="text-bold">Дата заказа: </span>{{ order.data_place }}</li>
                    </ul>
                </div>


                <div class="checkout__product">
                    <h2 class="checkout__title">СОСТАВ ЗАКАЗА </h2>
                    <table class="checkout__product-list">
                        <tr>
                            <th>Фото</th>
                            <th>Название</th>
                            <th>Цена, BYN</th>
                        </tr>
                        {% for item in order.get_order_content %}
                        <tr>
                            <td class="checkout__product-image">
                                <img class="checkout__product-img" src="{{ item.content_object.image.url }}" alt="">
                            </td>
                            <td>
                                {{ item.title }}
                            </td>
                            <td>
                                {{ item.price }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-bold" colspan="2">Итого:</td>
                            <td class="text-bold"> {{ order.price }} BYN</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
