{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load widget_tweaks %}

{% block title %}
Сменить пароль - Разборка в молодечно
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/panel-input.css' %}">
{% endblock %}


{% block content %}
    <section class="profile__confirmation">
           <div class="profile-confirmation__content">
                <div class="container">
                    <div class="profile-confirmation__container">
                        <h1 class="profile-confirmation__title">Сменить пароль</h1>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="panel-input__form-container">
                            {% render_field form.oldpassword class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.oldpassword.label %}
                            {{ form.oldpassword.errors}}
                            </div>
                            <div class="panel-input__form-container">
                            {% render_field form.password1 class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.password1.label %}
                            {{ form.password1.errors}}
                            </div>
                            <div class="panel-input__form-container">
                            {% render_field form.password2 class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.password2.label %}
                            {{ form.password2.errors}}
                            </div>
                            <input class="profile-confirmation__button button" type="submit" value="Сменить пароль">
                        </form>
                         <a class="panel-input__reset-password-link" href="{% url 'account_reset_password' %}">
                        Забыли пароль?
                    </a>
                    </div>
                </div>
           </div>
       </section>
{% endblock %}

