{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
Сменить пароль - Разборка в молодечно
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/panel-input.css' %}">
{% endblock %}


{% block content %}
    <section class="profile__confirmation">
           <div class="profile-confirmation__content">
                <div class="container">
                    <div class="profile-confirmation__container">
                        <h1 class="profile-confirmation__title">{% if token_fail %}Неправильный ключ{% else %}Сменить пароль{% endif %}</h1>
                       {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                            <p class="profile-confirmation__text">Ссылка на сброс пароля неверна, вероятно, она уже была использована. Для нового сброса пароля <a class="profile-confirmation__link" href="{{ passwd_reset_url }}">перейдите по ссылке.</a></p>
                        {% else %}
                         {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                             {{ form.non_field_errors }}
                             <div class="panel-input__form-container">
                                 {% render_field form.password1 class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.password1.label %}
                                {{ form.password1.errors}}
                             </div>
                            <div class="panel-input__form-container">
                                  {% render_field form.password2 class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.password2.label %}
                                  {{ form.password2.errors}}
                            </div>
                            <input class="profile-confirmation__button button" type="submit" value="Изменить пароль">
                        </form>
                        {% else %}
                        <p class="profile-confirmation__text">{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
           </div>
       </section>
{% endblock %}

