{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load i18n %}

{% block title %}
Сброс пароля ваш e-mail - Разборка в молодечно
{% endblock %}


{% block content %}
    <section class="profile__confirmation">
           <div class="profile-confirmation__content">
                <div class="container">
                    <div class="profile-confirmation__container">
                        <h1 class="profile-confirmation__title">Сброс пароля</h1>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p class="profile-confirmation__text">
                            Мы отправили вам письмо. Пожалуйста, свяжитесь с нами, если не получили его в течение нескольких минут.
                        </p>
                    </div>
                </div>
           </div>
       </section>

{% endblock %}

