{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load i18n %}

{% block title %}
Сменить пароль - Разборка в молодечно
{% endblock %}


{% block content %}
    <section class="profile__confirmation">
           <div class="profile-confirmation__content">
                <div class="container">
                    <div class="profile-confirmation__container">
                        <h1 class="profile-confirmation__title">Сменить пароль</h1>
                        <p class="profile-confirmation__text">
                            Ваш пароль изменён.
                        </p>
                    </div>
                </div>
           </div>
       </section>

{% endblock %}

