{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load widget_tweaks %}

{% block title %}
Сброс пароля - Разборка в молодечно
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/panel-input.css' %}">
{% endblock %}


{% block content %}
    <section class="profile__confirmation">
           <div class="profile-confirmation__content">
                <div class="container">
                    <div class="profile-confirmation__container">
                        <h1 class="profile-confirmation__title">Сброс пароля</h1>
                         {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p class="profile-confirmation__text">
                            Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.
                        </p>


                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                               <div class="panel-input__form-container">
                                {% render_field form.email class="panel-input__form-input input__form panel-input__form-input_width" placeholder=form.email.label %}
                                {{ form.email.errors}}
                                </div>
                            <input class="profile-confirmation__button button" type="submit" value="Сбросить мой пароль">
                        </form>
                         <p class="profile-confirmation__help-text">
                            Свяжитесь с нами, если у вас возникли сложности со сменой пароля.
                        </p>
                    </div>
                </div>
           </div>
       </section>
{% endblock %}

