{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load account %}

{% block title %}
Редактировать профиль - Разборка в молодечно
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/panel-input.css' %}">
<link rel="stylesheet" href="{% static 'css/media/panel-input-media.css' %}">
{% endblock %}


{% block content %}

<section class="panel-input">
    <div class="panel-input__content">
        <div class="container">
            <div class="panel-input__container">
                <h1 class="panel-input__title">
                    Редактировать профиль
                </h1>
                <form class="panel-input__form" method="post">
                     {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="panel-input__form-container">
                         {% render_field form.last_name class="panel-input__form-input input__form" placeholder=form.last_name.label %}
                         {{ form.last_name.errors }}
                    </div>
                    <div class="panel-input__form-container">
                          {% render_field form.first_name class="panel-input__form-input input__form" placeholder=form.first_name.label %}
                          {{ form.first_name.errors }}
                    </div>
                      <div class="panel-input__form-container">
                          {% render_field form.patronymic class="panel-input__form-input input__form" placeholder=form.patronymic.label %}
                          {{ form.patronymic.errors }}
                      </div>
                     <div class="panel-input__form-container">
                         <div class="panel-input__form-container_phone">
                             <div class="panel-input__form-country-phone">
                                 <select class="country-phone-select" placeholder="Код">

                                     <option value="Bel">Беларусь +375</option>
                                     <option value="ru">Россия +7</option>
                                 </select>
                            </div>
                         <div class="panel-input__form-phone">
                             {% render_field form.phone_number id="phoneMask" class="panel-input__form-input input__form" placeholder=form.phone_number.label %}
                            </div>
                         </div>
                          {{ form.phone_number.errors }}
                      </div>
                    <input class="panel-input__form-button button" type="submit" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/libraries/select2.min.js' %}"></script>
    <script src="{% static 'js/i18n/ru.js' %}"></script>
    <script src="{% static 'js/libraries/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/maskedinput.js' %}"></script>
{% endblock %}


