{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Авторизация - Разборка в молодечно
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/media/profile-media.css' %}">
{% endblock %}


{% block content %}
<section class="profile">
    <div class="profile__content">
        <div class="container">
            <div class="profile__container">
                <div class="profile__item">
                    <h2 class="profile__item-title">
                        Мой профиль
                    </h2>
                    <div class="profile__item-content">
                        <div class="profile__item-info">
                            <ul class="profile__item-info-list">
                                <li>
                                    <span class="text__bold">Email:</span>
                                    <span>{{ user.email }}</span>
                                </li>
                                 <li>
                                    <span class="text__bold">Имя пользователя:</span>
                                    <span>{{ user.username }}</span>
                                </li>
                                <li>
                                    <span class="text__bold">Фамилия:</span>
                                    <span>{{ user.last_name }}</span>
                                </li>
                                <li>
                                    <span class="text__bold">Имя:</span>
                                    <span>{{ user.first_name }}</span>
                                </li>
                                <li>
                                    <span class="text__bold">Отчество:</span>
                                    <span>{% if user.phone_number %}{{ user.patronymic }}{% endif %}</span>
                                </li>
                                 <li>
                                    <span class="text__bold">Номер телефона:</span>
                                    <span>{% if user.phone_number %}{{ user.phone_number }}{% endif %}</span>
                                </li>
                                <li>
                                    <span class="text__bold">Дата регистрации:</span>
                                    <span>{{ user.date_joined }}</span>
                                </li>
                            </ul>
                            <div class="profile__item-buttons">
                                <a class="profile__item-button button" href="{% url 'account_change_password' %}">
                                    Изменить пароль
                                </a>
                                <a class="profile__item-button button" href="{% url 'account_profile_update' %}">
                                    Редактировать профиль
                                </a>
                                 <a class="profile__item-button button" href="{% url 'account_profile_update' %}">
                                    Мой список желаемого
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__item">
                    <h2 class="profile__item-title">
                        Мои заказы
                    </h2>
                    <div class="profile__item-content">
                        <div class="profile__item-info">
                            {% if orders_process %}
                            <ul class="profile__item-info-list">
                                {% for order in orders_process %}
                                <li>
                                    <a class="profile__item-info-link text__blue" href="{% url 'order_detail' order.pk %}">{{ order.pk }}</a>
                                    <span class="profile__item-info-order">{{ order.data_place }}</span>
                                    <span>{{ order.get_status_display }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                             <p class="profile__item-info-text">
                               У вас нет действующих заказов
                           </p>
                            {% endif %}
                            <div class="profile__item-buttons">
                                <a class="profile__item-button button" href="{% url 'list_order' %}">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__item">
                    <h2 class="profile__item-title">
                        Адресная книга
                    </h2>
                    <div class="profile__item-content">
                        <div class="profile__item-info">
                           <p class="profile__item-info-text">
                               Адресная книга хранит список адресов доставки. Может использовать при оформлении нового закза.
                           </p>
                            <div class="profile__item-buttons">
                                <a class="profile__item-button button" href="{% url 'address' %}">
                                    Подробнее
                                </a>
                                <a class="profile__item-button button" href="{% url 'address_add' %}">
                                    Добавить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}






