{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="login">
    <div class="login__inner">
        <div class="container">
            <div class="login__content">
                <p class="login__title">Регистрация</p>
                <form class="form__login" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors|striptags }}
                    {% render_field form.username class="form__input" placeholder=form.username.label %}
                    {{ form.username.errors|striptags }}
                    {% render_field form.email class="form__input" placeholder=form.email.label %}
                    {{ form.email.errors|striptags }}
                    {% render_field form.password1 class="form__input" placeholder=form.password1.label %}
                    {{ form.password1.errors|striptags }}
                    {% render_field form.password2 class="form__input" placeholder=form.password2.label %}
                    {{ form.password2.errors|striptags }}
                    <input class="form__input-submit" type="submit" value="Зарегистрироваться">
                </form>
                <a class="form__input-button" href="{% url 'account:login' %}">Уже есть аккаунт</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}