{% extends 'base.html' %}

{% load static %}

{% block title %}Запчасти{% endblock %}

{% block content %}
<section class="filter">
    <div class="filter__content">
        <div class="container">
            <div class="filter__inner">
                <select class="car-brand-select filter__list" placeholder="Марка автомобиля">
                    <option value=""></option>
                    <option value="*">Все марки автомобилей</option>
                    {% for brand in car_brands %}
                        <option value="{{ brand.slug }}">{{ brand.title }}</option>
                    {% endfor %}
                </select>
                <select class="model-select filter__list" placeholder="Модель автомобиля">
                    <option value=""></option>
                    {% if car_models %}
                        <option value='*'>Все модели автомобилей</option>
                        {% for model in car_models %}
                            <option value="{{ model.slug }}">{{ model.title }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <select class="spare-part-select filter__list" placeholder="Название запчасти">
                    <option value=""></option>
                    <option value="*">Все завпчасти</option>
                    {% for category in categories %}
                        <option value="{{ category.slug }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
                <a class="filter__btn" href="#">Показать ({{ parts.count }})</a>
            </div>
        </div>
    </div>
</section>

<section class="item">
    <div class="item__content">
        <div class="container">

            <div class="item__inner">
                {% for part in parts %}
                <div class="item__part">
                    <div class="item__img">
                        <a href="{{ part.get_absolute_url }}" class="item__image-link">
                            <img class="item__image" src="{{ part.image.url }}" alt="{{ part.title }}">
                        </a>
                    </div>
                    <div class="item__specification">
                        <a class="item__title" href="{{ part.get_absolute_url }}">{{ part.title }}</a>
                        <ul class="item__specification-list">
                            <p class="item__specification-title">Характеристика</p>
                            <li><span class="text-bold">Марка:</span> {{ part.get_car_brand__title }}</li>
                            <li><span class="text-bold">Модель:</span> {{ part.get_car_model__title }}</li>
                            <li><span class="text-bold">Артикул:</span> {{ part.article }}</li>
                        </ul>
                        <div class="item__buy">
                            <p class="box item__price"><span class="text-red text-bold">Цена:</span> {{ part.price }} BYN</p>
                            <a class="item__button" href="{% url 'store:add_item_in_cart' part.id %}">КУПИТЬ</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}