{% extends 'base.html' %}

{% load static %}

{% block title %}Запчасти{% endblock %}

{% block content %}
<section class="filter">
    <div class="filter__content">
        <div class="container">
            <div class="car filter__inner">
                <select class="car-brand-select filter__list" placeholder="Марка автомобиля">
                    <option value=""></option>
                    <option value="*">Все марки автомобилей</option>
                    {% for brand in car_brands %}
                    <option value="{{ brand.slug }}">{{ brand.title }}</option>
                    {% endfor %}
                </select>
                <select class="model-select filter__list" placeholder="Модель автомобиля">
                    <option value=""></option>
                    {% if car_models %}
                    <option value='*'>Все модели автомобилей</option>
                    {% for model in car_models %}
                    <option value="{{ model.slug }}">{{ model.title }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <select class="transmission-select filter__list" placeholder="Коробка передач">
                    <option value=""></option>
                    <option value="*">Коробка передач</option>
                    {% for transmission in car_transmission %}
                    <option value="{{ transmission.slug }}">{{ transmission.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="car filter__inner padding-top-none">
                <select class="bodywork-select filter__list" placeholder="Кузов">
                    <option value=""></option>
                    <option value="*">Кузов</option>
                    {% for bodywork in car_bodywork %}
                    <option value="{{ bodywork.slug }}">{{ bodywork.title }}</option>
                    {% endfor %}
                </select>
                <select class="engine-type-select filter__list" placeholder="Тип двигателя">
                    <option value=""></option>
                    <option value="*">Тип двигателя</option>
                    {% for engine_type in car_engine_type %}
                    <option value="{{ engine_type.slug }}">{{ engine_type.title }}</option>
                    {% endfor %}
                </select>
                <select class="drive-select filter__list" placeholder="Привод">
                    <option value=""></option>
                    <option value="*">Привод</option>
                    {% for drive in car_drive %}
                    <option value="{{ drive.slug }}">{{ drive.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="car filter__inner">
                <a class="filter__btn" href="#">Показать ({{ cars.count }})</a>
            </div>
        </div>
    </div>
</section>

<section class="item">
    <div class="item__content">
        <div class="container">

            <div class="car item__inner">
                {% for car in cars %}
                <div class="item__part">
                    <div class="item__img">
                        <a href="{{ car.get_absolute_url }}" class="item__image-link">
                            <img class="item__image" src="{{ car.image.url }}" alt="{{ car.title }}">
                        </a>
                    </div>
                    <div class="item__specification">
                        <a class="item__title" href="{{ car.get_absolute_url }}">{{ car.get_title }}</a>
                        <ul class="item__specification-list">
                            <p class="item__specification-title">Характеристика</p>
                            <li><span class="text-bold">Марка:</span> {{ car.get_car_brand__title }}</li>
                            <li><span class="text-bold">Модель:</span> {{ car.get_car_model__title }}</li>
                            <li><span class="text-bold">Год:</span> {{ car.year }}</li>
                            <li><span class="text-bold">Пробег:</span> {{ car.mileage }}</li>
                            <li><span class="text-bold">Кузов:</span> {{ car.bodywork.title }}</li>
                            <li><span class="text-bold">Тип двигателя:</span> {{ car.engine_type.title }}</li>
                            <li><span class="text-bold">Объем двигателя:</span> {{ car.engine_capacity }} л.</li>
                            <li><span class="text-bold">Коробка передач:</span> {{ car.get_transmission_display }}</li>
                            <li><span class="text-bold">Привод:</span> {{ car.get_drive_display }}</li>
                            <li><span class="text-bold">Цвет:</span> {{ car.color }}</li>
                        </ul>
                        <div class="item__buy">
                            <p class="box item__price"><span class="text-red text-bold">Цена:</span> {{ car.price }}
                                BYN</p>
                            <a class="item__button" href="{% url 'store:add_to_cart' car.get_model_name car.id %}">КУПИТЬ</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts_js %}
<script src="{% static 'js/kid_cart_filter.js' %}"></script>
{% endblock %}