{% extends 'base.html' %}

{% load static %}

{% block title %} {{ part.get_meta_title }} {% endblock %}

{% block content %}
<section class="spare-part">
            <div class="spare-part__container">
                <div class="container">
                    <div class="spare-part__inner">
                        <h1 class="spare-part__title">
                            {{ wheel.title }}
                        </h1>
                        <div class="spare-part__content">
                            <div class="spare-part__images">
                                <div class="spare-part__img">
                                    <a href="{{ wheel.image.url }}" class="spare-part__image-link"
                                        data-lightbox="roadtrip">
                                        <img class="spare-part__image" src="{{ wheel.image.url }}" alt="{{ wheel.title }}">
                                    </a>
                                </div>
                                {% if wheel.additional_photo.all %}
                                <div class="spare-part__imgs-sub">
                                    {% for item in wheel.additional_photo.all %}
                                    <div class="spare-part__img-sub">
                                        <a href="{{ item.image.url }}" class="spare-part__image-link"
                                            data-lightbox="roadtrip">
                                            <img class="spare-part__image" src="{{ item.image.url }}" alt="">
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                            </div>
                            <div class="spare-part__specification">
                                <p class="spare-part__price">
                                    <span class="text-red text-bold">Цена:</span> {{ wheel.price }} BYN
                                </p>
                                <div class="spare-part__btn">
                                    {% if wheel.in_stock %}
                                        <a class="spare-part__button" href="{% url 'store:add_to_cart' wheel.get_model_name wheel.id %}">КУПИТЬ</a>
                                    {% else %}
                                        <a class="spare-part__button-red">{{ wheel.get_in_stock }}</a>
                                     {% endif %}
                                </div>

                                <table class="spare-part__specification-table">
                                    <tr>
                                        <td colspan="2">
                                            <span class="text-bold">Характеристики</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Марка</span>
                                        </td>
                                        <td>
                                            {{ wheel.get_car_brand__title }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Модель</span>
                                        </td>
                                        <td>
                                            {{ wheel.get_car_model__title }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Артикул</span>
                                        </td>
                                        <td>
                                            {{ wheel.article }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Диаметр</span>
                                        </td>
                                        <td>
                                            {{ wheel.diameter }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Материал</span>
                                        </td>
                                        <td>
                                            {{ wheel.material }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">PCD</span>
                                        </td>
                                        <td>
                                            {{ wheel.pcd }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-bold">Описание</span>
                                        </td>
                                        <td>
                                            {{ wheel.description }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'store/include_info_item.html' %}
{% endblock %}