 <section class="info">
            <div class="info__content">
            <div class="container">
                <div class="info__item">
                    <h2 class="info__title">
                        Доставка
                    </h2>
                    <div class="info__item-text">
                        <p class="info__text">
                            Бесплатная доставка при заказе от 200 бел. рублей в Минск и города РБ (Витебск, Могилев, Гомель,
                            Гродно, Брест, Барановичи, Пинск, Мозырь, Полоцк, Слуцк, Бобруйск и др.)
                        </p>
                        <ul class="info__list">
                            <li class="info__text">
                                Доставка
                            </li>
                            <li class="info__text">
                                Самовывоз
                            </li>
                            <li class="info__text">
                                Возможна доставка в РФ
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info__item">
                    <h2 class="info__title">
                        Гарантия
                    </h2>
                    <div class="info__item-text">
                        <p class="info__text">
                            Срок проверки (со дня реализации):
                        </p>
                        <ul class="info__list">
                            <li class="info__text">
                                Двигатель - 20 дней
                            </li>
                            <li class="info__text">
                                КПП, АКПП, редуктор - 10 дней
                            </li>
                            <li class="info__text">
                                Другие запчасти - 7 дней
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info__item">
                    <h2 class="info__title">
                        Оплата
                    </h2>
                    <div class="info__item-text">
                        <ul class="info__list">
                            <li class="info__text">
                                Безналичный расчет (для юридических лиц)
                            </li>
                            <li class="info__text">
                                Наличные
                            </li>
                            <li class="info__text">
                                Банковская карта
                            </li>
                            <li class="info__text">
                                Карта рассрочки «Халва» и «Карта покупок» в рассрочку до 3 месяцев
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        </section>