{% extends 'base.html' %}

{% load static %}

{% block content %}
        <section class="info">
            <div class="info__content">
                <div class="container">
                    <div class="info__item">
                        <h2 class="info__title">
                            Контакты
                        </h2>
                        <div class="info__item-text">
                            <p class="info__text">
                                Республика Беларусь, Минская область
                            </p>
                            <p class="info__text">
                                г. Молодечно, ул. Т. Дудко 4
                            </p>
                            <p class="info__text">
                                Тел: А1 +375 (29) 343 – 69 – 88
                            </p>
                            <p class="info__text">
                                e-mail: Transmolregion@tut.by
                            </p>
                        </div>
                    </div>
                    <div class="info__item">
                        <h2 class="info__title">
                            Доставка
                        </h2>
                        <div class="info__item-text">
                            <p class="info__text">
                                Бесплатная доставка при заказе от 200 бел. рублей в Минск и города РБ (Витебск, Могилев,
                                Гомель,
                                Гродно, Брест, Барановичи, Пинск, Мозырь, Полоцк, Слуцк, Бобруйск и др.)
                            </p>
                            <ul class="info__list">
                                <li class="info__text">
                                    Доставка
                                </li>
                                <li class="info__text">
                                    Самовывоз
                                </li>
                                <li class="info__text">
                                    Возможна доставка в РФ
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info__item">
                        <h2 class="info__title">
                            Гарантия
                        </h2>
                        <div class="info__item-text">
                            <p class="info__text">
                                Срок проверки (со дня реализации):
                            </p>
                            <ul class="info__list">
                                <li class="info__text">
                                    Двигатель - 20 дней
                                </li>
                                <li class="info__text">
                                    КПП, АКПП, редуктор - 10 дней
                                </li>
                                <li class="info__text">
                                    Другие запчасти - 7 дней
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info__item">
                        <h2 class="info__title">
                            Оплата
                        </h2>
                        <div class="info__item-text">
                            <ul class="info__list">
                                <li class="info__text">
                                    Безналичный расчет (для юридических лиц)
                                </li>
                                <li class="info__text">
                                    Наличные
                                </li>
                                <li class="info__text">
                                    Банковская карта
                                </li>
                                <li class="info__text">
                                    Карта рассрочки «Халва» и «Карта покупок» в рассрочку до 3 месяцев
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info__item">
                        <h2 class="info__title">
                            Реквизиты
                        </h2>
                        <div class="info__item-text">
                            <p class="info__text">
                                Индивидуальный предприниматель
                            </p>
                            <p class="info__text">
                                Шадыро Дмитрий Святославович
                            </p>
                            <p class="info__text">
                                УНП 690475455
                            </p>
                            <p class="info__text">
                                222302, Минская обл., Молодечно, ул. Т. Дудко 4
                            </p>
                            <p class="info__text">
                                Р/с: BY80 OLMP 3013 1000 0552 1000 0933 (BYN)
                            </p>
                            <p class="info__text">
                                BY29 OLMP 3013 1000 0552 1000 0978 (EUR)
                            </p>
                            <p class="info__text">
                                BY53 OLMP 3013 1000 0552 1000 0643 (RUB)
                            </p>
                            <p class="info__text">
                                в ОАО «Белгазпромбанк» г.Молодечно
                            </p>
                            <p class="info__text">
                                BIC OLMPBY2X
                            </p>
                            <p class="info__text">
                                Свидетельство о государственной регистрации индивидуального предпринимателя № 0615551,
                                выдано
                                Молодечненским районным исполнительным комитетом 01 июня 2016г
                            </p>
                        </div>
                    </div>
                    <div class="info__item">
                        <h2 class="info__title">
                            Мы на карте
                        </h2>
                        <div class="map">
                            <iframe id="map"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1435.4123984856187!2d26.881556061796175!3d54.30063732575903!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dc744c86c4ba0b%3A0x416bf50e22e5ab80!2z0YPQu9C40YbQsCDQlNGD0LTQutC-IDQsINCc0L7Qu9C-0LTQtdGH0L3Qvg!5e1!3m2!1sru!2sby!4v1617877392452!5m2!1sru!2sby"
                                width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}