.detail-product__content{
    margin-bottom: 100px;
}
.similar-product__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.detail-product__row{
    display: flex;
    align-items: flex-start;
}
.product__similar{
    width: 260px;
    min-width: 230px;
    margin-right: 68px;
}
.product__similar-container{
    background: #2C2C2C;
    padding: 0 10px 20px 10px;
}
.detail-product__info{
    /* width: 1072px; */
    display: flex;
}
.detail-product__info-row{
    margin-top: 30px;
    width: 1072px;
}
.detail-product__images{
    max-width: 565px;
    margin-right: 20px;
}
.detail-product__images.detail-product__info-row_main{
    max-width: 670px;
}

.detail-product__image{
    max-width: 565px;
    height: 300px;
    margin-bottom: 10px;
}
.detail-product__info-row_main .detail-product__image{
    max-width: 670px;
    height: 350px;
}



.detail-product__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-product__image-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.detail-product__image-item{
    max-width: 185px;
    height: 85px;
}
.detail-product__info-row_main .detail-product__image-item{
    max-width: 220px;
    height: 90px;
}
.detail-product__spetification{
    width: 487px;
    /* flex: 1 1 487px; */
}
.detail-product__spetification.detail-product__info-row_main{
    width: 710px
}
.detail-product__spetification-inner{
    width: 100%;
}
.detail-product__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
.detail-product__price{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}
.detail-product__buttons{
    margin-bottom: 30px;
    /*display: flex;*/
}
.detail-product__favorite{
    display: block;
    width: 224px;
    padding: 10px;
    text-align: center;
}
.detail-product__buy{
    display: block;
    width: 224px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.detail-product__buy_sold.button{
    background: red;
    cursor: pointer;
}
.detail-product__buy_sold.button:hover{
    box-shadow: 1px 0px 7px rgba(255, 0, 0, 0.8);
}

.detail-product__spetification-list{
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
}
.detail-product__spetification-list li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid #2C2C2C;
    margin-bottom: 10px;
}
.detail-product__spetification-list li:last-child{
    margin-bottom: 0;
}
.detail-product__description-title{
    font-weight: 700;
    margin-bottom: 3px;
}

.product__similar-item-title{
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.product__similar-image{
    margin-top: 5px;
    width: 100%;
    height: 110px;
    margin-bottom: 30px;
}
.product__similar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__similar-buy{
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 500;
    padding: 7px;
    margin-top: 7px;
}
.product__similar-item{
    padding-top: 20px;
}
.product__similar-pagination{
    width: 100%;
    margin-top: 30px;
}
.product__similar-pagination{
    justify-content: space-between;
}
.product__similar-pagination .pagination__previous,
.product__similar-pagination .pagination__next{
    margin: 0;
}

.additional-info__container{
    margin-top: 50px;
}
.additional-info__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.additional-info__row{
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    justify-items: stretch;
}
.additional-info__row_3{
    grid-template-columns: repeat(3, 1fr);
}
.additional-info__column{
    padding: 0 15px 10px 15px;
    height: 190px;
    background: #F5F5F5;
    box-shadow: 5px 5px 10px rgba(0, 100, 217, 0.2);
}
.additional-info__image{
    display: flex;
    justify-content: center;
    padding-top: 33px;
    margin-bottom: 15px;
}
.additional-info__column-text{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.product__similar-pagination li{
    cursor: pointer;
}
.pagination__link{
    pointer-events: none;
}



.detail-product__info-row.detail-product__info-row_main{
    width: 100%;
    margin-top: 0;
}