.profile__content{
    margin-bottom: 100px;
}
.profile__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.profile__item{
    align-self: flex-start;
    padding: 20px;
    background: #F5F5F5;
    box-shadow: 5px 5px 10px rgba(0, 100, 217, 0.2);
}
.profile__item-content{
    display: flex;
}
.profile__item-image{
    /* margin-top: auto; */
    width: 220px;
}
.profile__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}
.profile__item-info{
    /* max-width: 445px;
    margin-right: 20px; */
}
.profile__item-info-list{
    margin-bottom: 20px;
    width: 100%;
}
.profile__item-info-order{
    margin: 0 10px;
}

.profile__item-info{
    width: 100%;
    list-style: none;
}
.profile__item-info li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid #2C2C2C;
    margin-bottom: 10px;
}
.profile__item-info li:last-child{
    margin-bottom: 0;
}
.profile__item-button{
    text-align: center;
    display: block;
    padding: 7px 15px;
}
.profile__item-button:last-child{
    margin-top: 10px;
}
.profile__item-count-product{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.profile__item-info-link{
    text-decoration: none;
    color: rgb(0, 100, 217, 1);
}
