*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}
.text__white{
    color: rgb(255, 255, 255, 1);
}
.text__blue{
    color: rgb(0, 100, 217, 1);
}
.text__red{
    color: rgb(255, 0, 0, 1);
}
.text__bold{
    font-weight: 700;
}
.input__form{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #0064D9;
    background: #F5F5F5;
    height: 30px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}
.input__form:focus{
    box-shadow: 1px 0px 7px rgba(0, 100, 217, 0.8);
}
.input__form::placeholder{
    font-weight: 700;
}
.button{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: #0064D9;
    transition: 0.2s;
}
.button:hover{
    box-shadow: 1px 0px 7px rgba(0, 100, 217, 0.8);
}
.button:active{
    background: #01438f;
}

.select2-container--default .select2-selection--single {
    background-color: #F5F5F5;
    /* border: 2px solid #0064D9; */
    border: none;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: rgba(128, 128, 128, 1);
    vertical-align: middle;
}
.select2-container .select2-selection--single{
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}
.select2-dropdown{
    background: #F5F5F5;
    box-shadow: 5px 7px 10px rgba(0, 100, 217, 0.2);
    border: none;
    border-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #0064D9;
    outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}
.select2-selection:focus{
    box-shadow: 1px 0px 7px rgba(0, 100, 217, 0.8);
}






.pagination__list{
    list-style: none;
    display: flex;
    align-items: center;
}
.pagination__list li{
    cursor: pointer;
}
.pagination__link{
    transition: 0.2s;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    padding: 7px;
    background: #0064D9;
    color: rgba(255, 255, 255, 1);
}
.pagination__previous,
.pagination__next{
    text-align: center;
    width: 82px;
    border: 2px solid #0064D9;
}
.pagination__page{
    width: 30px;
    border: 2px solid #0064D9;
    text-align: center;
}
.pagination__page + .pagination__page{
    margin-left: 5px;
}
.pagination__previous{
    margin-right: 10px;
}
.pagination__next{
    margin-left: 10px;
}
.pagination_active .pagination__link{
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
}
.pagination__page:hover .pagination__link,
.pagination__previous:hover .pagination__link,
.pagination__next:hover .pagination__link{
    box-shadow: 0px 0px 13px rgba(0, 100, 217, 0.8);
}
.pagination__page:active .pagination__link,
.pagination__previous:active .pagination__link,
.pagination__next:active .pagination__link{
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
}

.message__list{
    transition: 0.2s;
    position: relative;
    list-style: none;
    margin-bottom: 20px;
}
.message__content{
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.message__text{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}
.message__text:last-child{
    margin-bottom: 0;
}
.message__text span{
    display: block;
}
.message__close{
    margin-left: 10px;
    background-image: url('../img/close_message.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: block;
}
.success{
    background-color: #4CAF50;
    color: rgba(255, 255, 255, 1);
}
.error{
    background-color: #F44336;
    color: rgb(255, 255, 255);
}
.info{
    background-color: #2196F3;
    color: rgba(255, 255, 255, 1);
}
.message__content_remove{
    position: absolute;
    width: 100%;
    transform: translate(+100%, 0px);
    overflow: auto;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;
}


.profile-confirmation__content{
    margin-bottom: 100px;
}
.profile-confirmation__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.profile-confirmation__text{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.profile-confirmation__button{
    border: none;
    width: 200px;
    text-align: center;
    padding: 7px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}
.profile-confirmation__help-text{
    margin-top: 8px;
    margin-bottom: 5px;
}
.profile-confirmation__link{
    text-decoration: none;
    color: #0064D9;
}
.help__text{
    font-size: 18px;
    line-height: 21px;
}
