<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/filtet.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>{% block title %}Разборка в Молодечно{% endblock %}</title>
</head>

<body>
<div class="page">
    <header class="header">
        <div class="header__content">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-container">
                        <a class="header__top-link header__top-map" href="#">г. Молодечно, ул. Т. Дудко 4</a>
                        <a class="header__top-link header__top-tel" href="tel:375293436988">+375 (29) 343-69-88</a>
                        <a class="header__top-link header__top-email" href="#">transmolregion@tut.by</a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="header__inner">
                    <div class="header__left">
                        <div class="logo">
                            <img class="logo__img" src="{% static 'img/logo.png' %}" alt="logo">
                        </div>
                        <div class="search">
                            <form class="form-search" action="#">
                                <input class="form__input-search" placeholder="Введите артикул или VIN-Код"
                                       type="text">
                                <input class="form__btn" type="submit" value="">
                            </form>
                        </div>
                        <div class="schedule-items">
                            <p class="schedule-item">
                                <span class="text-bold">ПН - ПТ</span> 8:00 - 19:00
                            </p>
                            <p class="schedule-item">
                                <span class="text-bold">СБ</span> 09:00 - 16:00
                            </p>
                            <p class="schedule-item">
                                <span class="text-bold text-red">ВС</span> <span class="text-red"> выходной</span>
                            </p>
                        </div>
                    </div>
                    <div class="header__right">
                            {% if user.is_authenticated %}
                                <a class="header__right-link header__right-profile" href="{% url 'account:profile' %}">Мой профиль</a>
                                <a class="header__right-link" href="{% url 'account:logout' %}">Выход</a>
                            {% else %}
                        <a class="header__right-link" href="{% url 'account:registration' %}">Регистрация</a>
                                  <a class="header__right-link" href="{% url 'account:login' %}">Войти</a>
                            {% endif %}

                        <a class="header__right-link header__right-cart popup-link" href="#cart-popup">Корзина</a>
                    </div>
                </div>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__list-item">
                            <a class="navigation__list-link" href="{% url 'store:main' %}">Главная</a>
                        </li>
                        <li class="navigation__list-item">
                            <a class="navigation__list-link" href="{% url 'store:auto_parts' %}">Автозапчасти</a>
                        </li>
                        <li class="navigation__list-item">
                            <a class="navigation__list-link" href="{% url 'store:kids_car' %}">Машинокомплекты</a>
                        </li>
                        <li class="navigation__list-item">
                            <a class="navigation__list-link" href="{% url 'store:wheels_drive' %}">Диски/Шины</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}


    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__item">
                    <p class="footer__item-title">
                        КАТАЛОГ
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Запчасти Б/У</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Машинокомплекты</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Диски / шины</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <p class="footer__item-title">
                        О НАС
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Контакты</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="index.html#map">Как добраться?</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Реквезиты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <p class="footer__item-title">
                        ИНФОРМАЦИЯ
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Доставка</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Оплата</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Гарантия</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

        <div id="cart-popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__top">
                    <a href="#" class="popup__close close-popup">></a>
                    <div class="popup__title">Корзина ({{ cart.get_total_items }})</div>
                </div>
                <div class="popup__bottom">
                    <div class="cart">
                        {% for item in cart %}
                        <div class="cart__item">
                            <div class="cart__item-inner">
                                <div class="cart__image">
                                    <img class="cart__img" src="{{ item.item.image.url }}" alt="">
                                </div>
                                <ul class="cart__content">
                                    <li class="cart__sneaker-title">{{ item.item.get_title }}</li>
                                    <li class="cart__price">{{ item.item.price }} BYN</li>
                                </ul>
                            </div>
                            <div class="cart__item-del">
                                <a href="{% url 'store:delete_from_cart' item.item.get_model_name item.id %}" class="cart__btn-del">X</a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="cart__final-cost">
                            <div class="cart__total">
                                <div class="cart__final-price-title">
                                    Итого:
                                </div>
                                <div class="cart__final-price">
                                    {{ cart.get_final_price}} BYN
                                </div>
                            </div>
                        </div>
                        <div class="cart__btns">
                            <a class="cart__btn" href="#">Открыть корзину</a>
                            <a class="cart__btn cart__btn-dark" href="#">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/i18n/ru.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script src="{% static 'js/generate_filter_models.js' %}"></script>
{% block scripts_js %}
{% endblock %}
<!--<script src="{% static 'js/wheel_drive_filter.js' %}"></script>-->
<!--<script src="{% static 'js/auto_part_filter.js' %}"></script>-->

<script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>