<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/header-media.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/footer-media.css' %}">
    {% block style %}

    {% endblock %}

    <title>{% block title %}Разборка в молодечно{% endblock %}</title>
</head>

<body>
    <div class="page">
        <div class="top-line">
            <div class="container">
                <div class="top-line__container">
                    <a class="top-line__phone-link" href="tel:+375293436988">
                        +375 (29) 343-69-88
                    </a>
                    <a href="{% url 'store:about' %}#location" class="top-line__address-link">
                        г. Молодечно, ул. Т. Дудко 4
                    </a>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="header__content">
                <div class="container">
                    <div class="header__container-info">
                        <div class="header__container-item">
                            <div class="logo">
                                <div class="logo__content">
                                    <a href="{% url 'store:about' %}" class="logo__link">
                                        <img class="logo__image" src="{% static 'img/main-logo.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <p class="header__schedule">
                                <span class="text__blue">ПН - ПТ</span> 8:00 - 19:00
                                <span class="text__blue">СБ</span> 09:00 - 16:00&emsp;
                                <span class="text__blue">ВС</span> выходной
                            </p>
                        </div>
                        <div class="header__container-item">
                            <a href="{% url 'store:about' %}#location" class="header__address-link">
                                г. Молодечно, ул. Т. Дудко 4
                            </a>
                            <form class="header__form-search" action="#" method="POST">
                                <input class="header__input-search input__form" type="text" placeholder="Поиск">
                                <input class="header__form-button" type="submit" value="">
                            </form>
                        </div>
                    </div>

                    <div class="header__container-navigation">
                        <div class="header__burger">
                            <span></span>
                        </div>
                        <a class="header__phone-link" href="tel:375293436988">
                            +375 (29) 343-69-88
                        </a>
                        <nav class="navigation catalog">
                            <ul class="navigation__list">
                                <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_about" href="{% url 'store:about' %}">
                                        О нас
                                    </a>
                                </li>
                                <li class="navigation__item navigation__item_spare">
                                    <a class="navigation__item-link navigation__item-link_spare">
                                        Запчасти
                                    </a>
                                    <div class="sub-navigation__list-container">
                                        <ul class="sub-navigation__list">

                                            <li class="sub-navigation__item">
                                                <a class="sub-navigation__item-link sub-navigation__item-link_car"
                                                    href="{% url 'store:list_spare_part' 'car' %}">
                                                    Легковые
                                                </a>
                                            </li>
                                            <li class="sub-navigation__item">
                                                <a class="sub-navigation__item-link sub-navigation__item-link_trailer"
                                                    href="{% url 'store:list_spare_part' 'trailer' %}">
                                                    Прицепы
                                                </a>
                                            </li>
                                            <li class="sub-navigation__item">
                                                <a class="sub-navigation__item-link sub-navigation__item-link_semi-trailer"
                                                    href="{% url 'store:list_spare_part' 'semi-trailer' %}">
                                                    Полуприцепы
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_car" href="{% url 'store:list_kit_car' %}">
                                        Машинокомплект
                                    </a>
                                </li>
                                <li class="navigation__item navigation__item_wheel-tires">
                                    <a class="navigation__item-link navigation__item-link_wheel">
                                        Диски/шины
                                    </a>
                                     <div class="sub-navigation__list-container">
                                        <ul class="sub-navigation__list">

                                            <li class="sub-navigation__item">
                                                <a class="sub-navigation__item-link sub-navigation__item-link_wheel"
                                                    href="{% url 'store:list_wheel' %}">
                                                    Диски
                                                </a>
                                            </li>
                                            <li class="sub-navigation__item">
                                                <a class="sub-navigation__item-link sub-navigation__item-link_tire"
                                                    href="{% url 'store:list_tire' %}">
                                                    Шины
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <nav class="navigation profile">
                            <ul class="navigation__list">
                                {% if user.is_authenticated  %}
                                 <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_profile" href="{% url 'account_profile' %}">
                                        Мой профиль
                                    </a>
                                </li>
                                <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_profile" href="{% url 'account_logout' %}">
                                        Выход
                                    </a>
                                </li>
                                {% else %}
                                <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_profile" href="{% url 'account_signup' %}">
                                        Регистрация
                                    </a>
                                </li>
                                <li class="navigation__item">
                                    <a class="navigation__item-link navigation__item-link_profile" href="{% url 'account_login' %}">
                                        Вход
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <a class="navigation__item-link navigation__item-link_shopping-cart button popup-link" href="#cart-popup">
                            ({{ cart.get_total_items }}) BYN {{ cart.get_final_price}}
                        </a>
                    </div>
                </div>
            </div>
        </header>

        {% if messages %}
        <section class="message">
            <div class="container">
                <ul class="message__list">
                    {% for message in messages %}
                    <li class="message__content {{ message.tags }}">
                        <span class="message__text">{{ message|safe }}</span>
                        <img class="message__close" src="{% static 'img/close_message.svg' %}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %}

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="footer__content">
                <div class="container">
                    <div class="footer__container">
                        <div class="footer__info">
                            <div class="footer__logo">
                                <a href="{% url 'store:about' %}" class="footer__logo-link">
                                    <img class="footer__image" src="{% static 'img/footer-logo.png' %}" alt="">
                                </a>
                            </div>
                            <p class="footer__schedule">
                                <span class="text__blue">ПН - ПТ</span> 8:00 - 19:00
                                <span class="text__blue">СБ</span> 09:00 - 16:00&emsp;
                                <span class="text__blue">ВС</span> выходной
                            </p>
                        </div>
                        <div class="footer__info-items">

                            <div class="footer__info-item">
                                <p class="footer__info-title">
                                    КОНТАКТЫ
                                </p>
                                <ul class="footer__list">
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#location">
                                            г. Молодечно, ул. Т. Дудко 4
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="tel:+375293436988">
                                            А1 +375 (29) 343 – 69 – 88
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link">
                                            transmolregion@tut.by
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__info-item footer__info-item_information">
                                <p class="footer__info-title">
                                    ИНФОРМАЦИЯ
                                </p>
                                <ul class="footer__list">
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#delivery">
                                            Доставка
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#payment">
                                            Оплата
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#warranty">
                                            Гарантия
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="footer__info-item">
                                <p class="footer__info-title">
                                    О НАС
                                </p>
                                <ul class="footer__list">
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#contacts">
                                            Контакты
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#location">
                                            Как добраться?
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:about' %}#bank">
                                            Реквизиты
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__info-item">
                                <p class="footer__info-title">
                                    КАТАЛОГ
                                </p>
                                <ul class="footer__list">
                                    <li class="footer__list-item footer__list-item_spare">
                                        <a class="footer__list-link">
                                            Запчасти
                                        </a>
                                        <ul class="footer__list footer__list-sub">
                                            <li class="footer__list-item">
                                                <a class="footer__list-link footer__list-link_sub" href="">
                                                    Легковые
                                                </a>
                                            </li>
                                            <li class="footer__list-item">
                                                <a class="footer__list-link footer__list-link_sub" href="">
                                                    Прицепы
                                                </a>
                                            </li>
                                            <li class="footer__list-item">
                                                <a class="footer__list-link footer__list-link_sub" href="#">
                                                    Полуприцепы
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:list_kit_car' %}">
                                            Машинокомплект
                                        </a>
                                    </li>
                                    <li class="footer__list-item">
                                        <a class="footer__list-link" href="{% url 'store:list_wheel' %}">
                                            Диски/шины
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div id="cart-popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__top">
                    <a href="#" class="popup__close close-popup">></a>
                    <div class="popup__title">Корзина ({{ cart.get_total_items }})</div>
                </div>
                <div class="popup__bottom">
                    <div class="cart">
                        {% if cart.get_total_items %}
                        {% for item in cart %}
                        <div class="cart__item">
                            <div class="cart__item-inner">
                                <div class="cart__image">
                                    <a href="{{ item.item.get_absolute_url }}" class="cart__image-link">
                                        <img class="cart__img" src="{{ item.item.image.url }}" alt="">
                                    </a>
                                </div>
                                <ul class="cart__content">
                                    <li class="cart__product-title">
                                        <a href="{{ item.item.get_absolute_url }}" class="cart__product-title-link">{{ item.item.get_title }}</a>
                                    </li>
                                    <li class="cart__price">{{ item.item.price }} BYN</li>
                                </ul>
                            </div>
                            <div class="cart__item-del">
                                <a href="{% url 'store:delete_from_cart' item.item.get_model_name item.id %}" class="cart__btn-del">X</a>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="cart__final-cost">
                            <div class="cart__total">
                                <div class="cart__final-price-title">
                                    Итого:
                                </div>
                                <div class="cart__final-price">
                                    {{ cart.get_final_price}} BYN
                                </div>
                            </div>
                        </div>
                        <div class="cart__btns">
                            <a class="cart__btn button" href="{% url 'checkout' %}">Оформить заказ</a>
                        </div>
                        {% else %}
                         <div class="cart__item">
                          <p class="help__text">Ваша корзина пуста, необходимо добавить товар</p>
                             </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>




    <script src="{% static 'js/header-script.js' %}"></script>
    <script src="{% static 'js/footer-script.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/message.js' %}"></script>
    {% block script %}

    {% endblock %}
</body>

</html>